<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />

        <!-- Bootstrap Icons -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
        />

        <!-- My CSS -->
        <link rel="stylesheet" href="{!! asset('assets/css/style.css') !!}" />

        <title>UTS | Ana Yuaida</title>
    </head>
    <body id="home">
        <!-- Navbar -->
        <nav
            class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top"
            style="background-color: #d6bc96"
        >
            <div class="container">
                <a class="navbar-brand" href="#">Aida Yuana</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="#home"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- akhir navbar -->

        <!-- Jumbotroon -->
        <section
            class="jumbotron text-center pt-5 my-5"
            style="background-color: #fcfbfa"
        >
            <img
                src="img/me.jpg"
                alt="Ana Yuaida"
                width="200"
                class="rounded-circle img-thumbnail"
            />
            <h1 class="display-4">Ana Yuaida</h1>
            <p class="lead">Student | 2031710077 | Malang State Polytechnic</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path
                    fill="#d6bc96"
                    fill-opacity="1"
                    d="M0,192L40,197.3C80,203,160,213,240,192C320,171,400,117,480,122.7C560,128,640,192,720,192C800,192,880,128,960,106.7C1040,85,1120,107,1200,133.3C1280,160,1360,192,1400,208L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"
                ></path>
            </svg>
        </section>
        <!-- akhir jumbotroon -->

        <!-- About -->
        <section id="about" class="pt-5">
            <div class="container">
                <div class="row text-center mb-3">
                    <div class="col">
                        <h2>About Me</h2>
                    </div>
                </div>
                <div class="row justify-content-center fs-5 text-center">
                    <div class="col-md-4">
                        <p>
                            Hola everyone.. nama saya aida, mahasiswi tingkat
                            dua prodi D3 Manajemen Informatika jurusan Teknologi
                            Informasi Politeknik Negeri Malang. Disini saya akan
                            menunjukkan beberapa project yang sudah saya buat,
                            yang salah satunya adalah Sistem Informasi
                            Pariwisata Kota Batu yang dibuat untuk memenuhi
                            syarat kelulusan nilai Ujian Tengah Semester. Semoga
                            membantu
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            Kota Batu, merupakan salah satu kota berhawa sejuk
                            yang bertetangga dengan Malang dan Kediri dikenal
                            sebagai gudangnya objek wisata. Kota yang dulunya
                            merupakan bagian dari Kabupaten Malang dan lalu
                            berstatus kota administratif itu kini sudah menjadi
                            kota otonom. Sejak berdiri sendiri, Batu telah
                            berbenah mengembangkan potensi wisatanya. Hasilnya,
                            sebagian besar wisata populer dan kekinian yang ada
                            di Malang Raya saat ini merupakan 'produk' kota
                            Batu.
                        </p>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path
                    fill="#d6bc96"
                    fill-opacity="1"
                    d="M0,32L40,74.7C80,117,160,203,240,208C320,213,400,139,480,138.7C560,139,640,213,720,229.3C800,245,880,203,960,186.7C1040,171,1120,181,1200,160C1280,139,1360,85,1400,58.7L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
                ></path>
            </svg>
        </section>
        <!-- akhir about -->

        <!-- Projects -->
        <section id="projects" style="background-color: #fcfbfa" class="pt-5">
            <div class="container">
                <div class="row text-center pt-4">
                    <div class="col">
                        <h2>My Projects</h2>
                        <p class="lead">DESTINASI WISATA KOTA BATU</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img
                                src="img/museum_angkut.jpg"
                                class="card-img-top"
                                alt="museum_angkut"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Museum Angkut</h5>
                                <p class="card-text">
                                    Museum Angkut berada dibawah naungan Jawa
                                    Timur Park Group, sebuah perusahaan
                                    pengembang yang juga mendirikan Jatim Park I
                                    & II dan Batu Secret Zoo dan beberapa tempat
                                    wisata populer lainnya.
                                </p>
                                <a href="maps/1" class="btn btn-primary"
                                    >LOKASI</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img
                                src="img/paralayang.jpg"
                                class="card-img-top"
                                alt="paralayang"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Paralayang</h5>
                                <p class="card-text">
                                    Salah satu tempat wisata di Batu Malang yang
                                    ramai dikunjungi ialah Paralayang Gunung
                                    Banyak. Ditempat wisata ini merupakan
                                    kawasan milik perhutani yang dibuka secara
                                    umum dan digunakan sebagai tempar pariwisata
                                    dan olahraga paralayang/paragliding.
                                </p>
                                <a href="maps/2" class="btn btn-primary"
                                    >LOKASI</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img
                                src="img/coban_putri.jpg"
                                class="card-img-top"
                                alt="museum_angkut"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Coban Putri</h5>
                                <p class="card-text">
                                    Coban Putri termasuk sebagai salah satu
                                    destinasi wisata alam di Batu yang
                                    diunggulkan. Terdapat dua air terjun alami
                                    yang memesona. Kamu bisa berendam atau
                                    mendaki bebatuan di sekitar air terjun.
                                </p>
                                <a href="maps/3" class="btn btn-primary"
                                    >LOKASI</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path
                    fill="#d6bc96"
                    fill-opacity="1"
                    d="M0,288L40,277.3C80,267,160,245,240,208C320,171,400,117,480,96C560,75,640,85,720,117.3C800,149,880,203,960,224C1040,245,1120,235,1200,229.3C1280,224,1360,224,1400,224L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"
                ></path>
            </svg>
        </section>
        <!-- akhir projects -->

        <!-- Contacts -->
        <section id="contact" class="pt-5">
            <div class="container">
                <div class="row text-center mb-3">
                    <div class="col">
                        <h2>Contact Me</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label"
                                    >Nama Lengkap</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    aria-describedby="name"
                                />
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label"
                                    >Email</label
                                >
                                <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    aria-describedby="email"
                                />
                            </div>
                            <div class="mb-3">
                                <label for="pesan" class="form-label"
                                    >Pesan</label
                                >
                                <textarea
                                    class="form-control"
                                    id="pesan"
                                    rows="3"
                                ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Kirim
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path
                    fill="#d6bc96"
                    fill-opacity="1"
                    d="M0,224L40,224C80,224,160,224,240,234.7C320,245,400,267,480,261.3C560,256,640,224,720,208C800,192,880,192,960,197.3C1040,203,1120,213,1200,224C1280,235,1360,245,1400,250.7L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
                ></path>
            </svg>
        </section>
        <!-- akhir contacts -->

        <!-- Footer -->
        <footer
            class="text-white text-center pb-5"
            style="background-color: #d6bc96"
        >
            <p>
                Created with <i class="bi bi-heart-fill text-danger"></i> by
                <a
                    href="https://www.instagram.com/ai__anayd/"
                    class="text-white fw-bold"
                    >Ana Yuaida</a
                >
            </p>
        </footer>
        <!-- akhir footer -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
